{% extends 'base.html' %}
{% block content %}
    <form method="POST">
        <a class="btn btn-secondary" href="{{ url_for('changelang') }}" style="float: right;"> {{ _('changelanguage') }}</a>
        <div class="col-9">
            <div class="form-group row">
                <div class="input-group mb-3">
                    <input type="text" id="categoryName" class="form-control" placeholder="{{ _('cat-placeholder') }}">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" id="addImages" type="button">{{ _('add-images-button') }}</button>
                    </div>
                </div>              
            </div>
            <div class="form-group row">
                <label for="imageNameList">{{_('lable-images-list')}}:</label>
                <textarea
                    class="form-control"
                    name="imageNameList"
                    id="imageNameList"
                    rows="50"
                    wrap="hard"
                    style="height: 200px;"
                    placeholder="{{ _('file-name') }}"
                ></textarea>
            </div>
            <div class="form-group row">
                <button type="submit" id="formSubmit" class="btn btn-success">{{ _('start-zipping-button') }}</button>
            </div>
        </div>
    </form>
    <br/>
    <br/>
    <br/>
    <br/>
    <h5>{{ _('notes') }}:-</h5>
    <p style="font-size: 12px; margin-bottom: 0px;">{{ _('notes-1') }}</p>
    <p style="font-size: 12px;">{{ _('notes-2') }}</p>
    <p>
        <small> Created by: <a href="https://meta.wikimedia.org/wiki/User:Jayprakash12345"> Jay Prakash</a>
        For more information, see: <a href="https://meta.wikimedia.org/wiki/Indic-TechCom">Indic-TechCom</a> </small>
    </p>
{% endblock %}